astunparse==1.6.3 ; python_version >= "3.8" and python_version < "3.9"
click==8.1.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
grpcio-tools==1.62.2 ; python_version >= "3.8" and python_version < "4.0"
grpcio==1.62.2 ; python_version >= "3.8" and python_version < "4.0"
loguru==0.7.2 ; python_version >= "3.8" and python_version < "4.0"
protobuf==4.25.3 ; python_version >= "3.8" and python_version < "4.0"
protoletariat==3.2.19 ; python_version >= "3.8" and python_version < "4.0"
setuptools==69.5.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
wheel==0.43.0 ; python_version >= "3.8" and python_version < "3.9"
win32-setctime==1.1.0 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
